{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block scripts %} 
    <script src="static/scripts/utils.js"></script>
    <script src="static/scripts/convert.js"></script>
    <script src="static/scripts/fixing-size.js"></script>
{% endblock %}

{% block content %}
    <section>
        <div class="upload-div">
            <div class="container">
                <div id="fixed-card" class="card">
                    <h3>Convert your own files</h3>
                    <div id="drop-box" class="drop_box">
                        <form class="upload-form" action="{{ url_for('convert') }}" method="post" enctype="multipart/form-data">

                            <div id="drop-area" class="drop-file-div fixed-sub-div">
                                <div class="file-preview-header">
                                    <header>
                                        <h4>Select File here</h4>
                                    </header>
                                </div>
                                <p class="drop-box-p">Medias Supported: Image, Audio, Video, Vector, Archive</p>
                                <input type="file" name="file" id="file-input" onchange="handleFileUpload()" style="display:none;">
                                <button type="button" class="btn" id="btn-choose-file">Choose File</button>
                            </div>
                            
                            <div id="file-preview" class="file-preview-div fixed-sub-div">
                                <div class="file-preview-header">
                                    <header>
                                        <h4 id="h4-filename"></h4>
                                    </header>
                                </div>
                                <div class="select-div">
                                    <div class="choose-div">
                                        <label for="file-type">Choose media type:</label>
                                        <select id="file-type" name="file-type" onchange="updateFormats()">
                                        <!-- Options will be populated by JavaScript -->
                                        </select>
                                    </div>
                                
                                    <div class="choose-div">
                                        <label for="file-format">Choose file format:</label>
                                        <select id="file-format" name="file-format">
                                        <!-- Options will be populated by JavaScript -->
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn" type="submit">Convert</button>
                                </div>
                            </div>
                            
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}