<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Ultimate Converter is a web application that allows you to convert files and web pages to different formats." />
        <meta name="keywords" content="file converter, web converter, convert files, convert web pages" />
        <meta name="author" content="Missclick" />
        <meta property="og:title" content="Ultimate Converter" />
        <meta property="og:description" content="Ultimate Converter is a web application that allows you to convert files and web pages to different formats." />
        <meta property="og:image" content="{{ url_for('static', filename='images/og-image.png', _external=True) }}" />
        <meta property="og:url" content="{{ request.url }}">

        <!-- Title -->
        <title>{% block title %}Ultimate Converter{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='images/ultimate-converter-icon.png') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/ultimate-converter-icon.png') }}" />

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/media.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}" />
        {% block styles %}{% endblock styles %}

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <header class="header-main">
            <h1>Ultimate Converter</h1>
            <nav>
                <a href="{{ url_for('convert') }}">File Converter</a>
                <a href="{{ url_for('web') }}">Web Converter</a>
                <a href="{{ url_for('home') }}">Home</a>
            </nav>
        </header>
        <main id="main">
            <div class="container">
                <div id="flash-container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div id="modal" class="modal">
                        <img
                            src="{{ url_for('static', filename='images/alert.png') }}"
                            width="44"
                            height="38"
                        />
                        <span class="title">Oh snap!</span>
                        {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                        {% endfor %}
                        <div id="dismiss-button" class="button">Dismiss</div>
                    </div>
                    {% endif %} {% endwith %}
                </div>

                {% block content %} {% endblock %}
            </div>
            <footer class="footer-main">
                <p>&copy; 2024 Ultimate Converter</p>
            </footer>
        </main>
    </body>
</html>
