<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ultimate Converter{% endblock %}</title>
    <link rel="stylesheet" href="static/styles/main.css">
    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock %}
</head>
<body>
  <header class="header-main">
    <h1>Ultimate Converter</h1>
    <nav>
        <a href="{{ url_for('upload') }}">Upload</a>
        <a href="{{ url_for('web') }}">Web</a>
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
</header>
    <div class="container">
        {% block content %}
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        
    </div>
</body>
</html>