{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block styles %}
    <style>
        #file-preview {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %} 
    <script src="static/scripts/test.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
      <h3>Upload Files</h3>
      <div class="drop_box">
        <header>
          <h4>Select File here</h4>
        </header>
        <p>Files Supported: PDF, TEXT, DOC , DOCX</p>
        <input type="file" hidden accept=".doc,.docx,.pdf" id="fileID" style="display:none;">
        <button class="btn">Choose File</button>
      </div>
  
    </div>
  </div>
{% endblock %}