<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/scripts/upload.js"></script>
    <style>
        #file-preview {
            display: none;
        }
    </style>
    <title>Upload</title>
</head>
<body>
    <h1>Upload a File</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file-input" onchange="handleFileUpload()">
        <div id="file-preview">
            <label for="file-type">Choose file type:</label>
            <select id="file-type" name="file-type" onchange="updateFormats()">
                <!-- Options will be populated by JavaScript -->
            </select>
            
            <label for="file-format">Choose file format:</label>
            <select id="file-format" name="file-format">
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
        
        <button type="submit">Upload</button>
    </form>
        
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>